html {
  background-color: #28423d;
}

.App {
  text-align: center;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  text-align: center;
  box-shadow: 1px 1px 1px 1px #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}

.highcharts-credits {
  display: none;
}

.charts-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.chart-item {
  width: 400px;
  margin:10px;
}

.searchbar-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.searchbar-container > div {
  padding: 5px;
}